{% extends 'base.html' %}

{% block title %}Cadastro {% endblock  title%}

{% block conteudo %}
<div class="container2">
    <div>
  <h1 class="titulo-cadastro">Cadastro</h1>


     <div class= "cadastro">

    <form>  
    <label> Nome</label>
    <input type="text" placeholder="Seu nome Completo" required>
    
    <label> Telefone</label>
    <input type="text" placeholder="(00)00000-0000" required>

    <label> CPF</label>
    <input type="text" placeholder="000.000.000-00" required>
    
    
    <div class="linha">
    
       <div class="campo">
           <label> Peso(kg)</label>
           <input type="number" placeholder="65" 
           required>
     </div>


    <div class="campo">
        <label> Altura(cm)</label>
        <input type="number"placeholder="1.65" required>
    </div>

    </div>

    <label> Inicio da Gestação</label>
    <input type="date" required>

    <label> Acompanhamento pré-natal</label>
   <div class="opcoes">
    <label class="opcao">
        <input type="radio" name="pre_natal" value="sim">
        <span>Sim</span>
    </label>

    <label class="opcao">
        <input type="radio" name="pre_natal" value="nao">
        <span>Não</span>
    </label>
</div>

<label> Sexo do bebê</label>
<div class="opcoes sexo">
    <label class="opcao">
        <input type="radio" name="sexo" value="feminino">
        <span>♀ Feminino </span>
    </label>

    <label class= "opcao">
        <input type="radio" name="sexo " value="masculino">
         <span> ♂ Masculino </span>
    </label>

    <label class="opcao">
        <input type="radio " name="sexo" value="nao_sei">
        <span> 👶 Não sei </span>
    </label>
</div>
    <label> Email </label>
    <div class="Email">
        <input type="text" placeholder="Email" required>
    </div>

    <button type="submit">Cadastrar</button>

    
    <p class=" login-link">
                    Já tem uma conta?
                    <a href="{{url_for('login') }}"> Entre </a>
                </p>

    </form>
   </div>
</div>
</div>

{% endblock  conteudo %}